<% stylesheets 'button' %>
<% # javascripts 'prototype', 'effects', 'dragdrop', 'assets' %>

<div class="button">
<%=link_to (@page_object.title || 'Untitled Link'), (@page_object.link || '#') %>
</div>